<div class="container-fluid py-4">
  <h1> <%= image_tag "icons/expense.png", alt: "Editar Parcela", class: "me-2", size: "40x40" %>Editar Parcela</h1>

  <p>
    Parcela da despesa: 
    <strong><%= @installment.description %></strong> |
    Parcela: <%= @installment.number %>/<%= @installment.installments_count %> |
    <%= link_to "Voltar para despesa pai", edit_expense_path(@installment.expense), class: "btn btn-sm btn-link" %>
  </p>

  <%= form_with model: @installment, local: true do |f| %>
    <div class="row mb-3">
      <div class="col-md-4">
        <%= f.label :amount, "Valor" %>
        <%= f.text_field :amount, class: "form-control moeda",
              value: sprintf('%.2f', @installment.amount).gsub('.', ','),
              oninput: "formatMoeda(this)" %>
      </div>

      <div class="col-md-4">
        <%= f.label :paid, "Pago?" %><br>
        <%= f.check_box :paid, class: "form-check-input" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-4">
        <%= f.label :number, "Número da Parcela" %>
        <%= f.number_field :number, class: "form-control", disabled: true %>
      </div>

      <div class="col-md-4">
        <%= f.label :due_date, "Data de Vencimento" %>
        <%= f.date_field :due_date, class: "form-control", disabled: true %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
      <%= link_to "Cancelar", expenses_path, class: "btn btn-secondary ms-2" %>
    </div>
  <% end %>
</div>

