<!-- Cards KPIs -->
<div class="row">
  <div class="col-md-3 row_element">
    <div class="card text-center shadow card-small">
      <div class="card-body">
        <h6 class="card-title text-muted">Saldo Atual</h6>
        <h4 class="text-success">
          <%= number_to_currency(@saldo_atual, unit: "R$ ", separator: ",", delimiter: ".") %>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-3 row_element">
    <div class="card text-center shadow card-small">
      <div class="card-body">
        <h6 class="card-title text-muted">Receitas de <%= I18n.l(Date.current, format: "%B") %></h6>
        <h4 class="text-primary">
          <%= number_to_currency(@receitas_mes, unit: "R$ ", separator: ",", delimiter: ".") %>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-3 row_element">
    <div class="card text-center shadow card-small">
      <div class="card-body">
        <h6 class="card-title text-muted">Despesas de <%= I18n.l(Date.current, format: "%B") %></h6>
        <h4 class="text-danger">
          <%= number_to_currency(@despesas_mes, unit: "R$ ", separator: ",", delimiter: ".") %>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-md-3 row_element">
    <div class="card text-center shadow card-small">
      <div class="card-body">
        <h6 class="card-title text-muted">Saldo Líquido</h6>
        <h4 class="text-warning">
          <%= number_to_currency(@saldo_liquido, unit: "R$ ", separator: ",", delimiter: ".") %>
        </h4>
      </div>
    </div>
  </div>
</div>


<style>
  .row_element{
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
</style>