<%= form_with model: income, local: true do |f| %>
  <div class="row mb-3">
    <div class="col-md-9">
      <%= f.label :description, t("incomes.form.description") %>
      <%= f.text_field :description, class: "app-form-control" %>
    </div>

    <div class="col-md-3">
      <%= f.label :repetir, "Repetir (meses)" %>
      <%= f.number_field :repetir, value: @income.repetir || 0, min: 0, class: "app-form-control" %>
    </div>
  </div>

  <div class="row mb-3 align-items-end">
    <div class="col-md-4">
      <div class="d-flex align-items-center gap-3">
        <div class="flex-grow-1">
          <%= f.label :amount, t("incomes.form.amount") %>
          <%= f.text_field :amount,
            class: "app-form-control moeda",
            value: (income.amount.present? ? number_to_currency(income.amount, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) : "R$ 0,00"),
            required: true,
            data: { required_currency: true }
          %>
        </div>

        <div class="app-form-check mb-2">
          <%= f.check_box :paid, class: "app-form-check-input", id: "income_paid" %>
          <%= f.label :paid, t("incomes.form.paid"), class: "app-form-check-label", for: "income_paid" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <%= f.label :category_id, t("incomes.form.category") %>
      <%= f.collection_select :category_id, Category.order(:name), :id, :display_name, { prompt: "Selecione" }, { class: "app-form-select" } %>
    </div>

    <div class="col-md-4">
      <%= f.label :date, t("incomes.form.date") %>
      <div class="custom-date-wrapper">
        <%= f.text_field :date, class: "app-form-control custom-date", autocomplete: "off", placeholder: "Selecione a data", required: true %>
      </div>
    </div>
  </div>

  <div class="row mb-3 align-items-end">
    <div class="col-md-4">
      <%= f.label :balance_month, t("incomes.form.balance_month") %>
      <div class="custom-date-wrapper">
        <%= f.text_field :balance_month, class: "app-form-control custom-date", autocomplete: "off", placeholder: "Selecione o mês", required: true %>
      </div>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit t("incomes.form.submit"), class: "app-btn app-btn--primary" %>
  </div>
<% end %>
