<tr id="<%= dom_id(income) %>" class="<%= income.paid ? 'table-success' : 'table-warning' %>">
  <td class="text-start"><%= income.description %></td>
  <td class="text-center"><%= income.category&.display_name || "-" %></td>
  <td class="text-center app-record-actions">
    <%= number_to_currency(income.amount, unit: "R$ ", separator: ",", delimiter: ".") %>
  </td>
  <td class="text-center"><%= income.date.strftime("%d/%m/%Y") if income.date.present? %></td>
  <td class="text-center"><%= income.balance_month.strftime("%m/%Y") if income.balance_month.present? %></td>
  <td class="text-center app-record-actions">
    <%= link_to (income.paid ? "Sim" : "Não"),
                toggle_paid_income_path(income),
                method: :patch,
                data: { turbo_method: :patch, turbo_stream: true },
                class: "btn btn-sm btn-secondary app-record-actions__status" %>
  </td>
  <td class="text-center app-record-actions">
    <%= link_to "✏️ #{t("buttons.edit")}",
                edit_income_path(income),
                class: "btn btn-sm btn-primary app-record-actions__edit",
                data: { turbo_frame: "modal" } %>

    <%= link_to "🗑️ #{t("buttons.delete")}",
                income_path(income),
                data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" },
                class: "btn btn-sm btn-danger app-record-actions__delete" %>
  </td>
</tr>
