<%= form_with model: card, local: true do |f| %>
  <div class="row mb-3">
    <div class="col-md-6">
      <%= f.label :name, t("cards.form.name") %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= f.label :number, t("cards.form.number") %>
      <%= f.text_field :number,
            class: "form-control card-number", # Classe 'cartao' ou '.card-number' para o utils.js
            placeholder: "1234 5678 1234 5678",
            maxlength: 19
      %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-3">
      <%= f.label :total_limit, "Limite Total" %>
      <%= f.text_field :total_limit,
            class: "form-control moeda",
            value: number_to_currency(card.total_limit || 0, unit: "R$", separator: ",", delimiter: ".")
      %>
    </div>

    <div class="col-md-3">
      <%= f.label :remaining_limit, "Limite Restante" %>
      <%= text_field_tag :remaining_limit_display,
            number_to_currency(card.remaining_limit || 0, unit: "R$", separator: ",", delimiter: "."),
            class: "form-control",
            readonly: true
      %>
    </div>

    <div class="col-md-3">
      <%= f.label :due_day, "Dia do Vencimento" %>
      <div class="custom-date-wrapper">
        <%= f.text_field :due_day, class: "form-control custom-date-day", autocomplete: "off", placeholder: "Selecione o dia" %>
      </div>
    </div>

    <div class="col-md-3">
      <%= f.label :best_day, "Melhor Dia de Compra" %>
      <div class="custom-date-wrapper">
        <%= f.text_field :best_day, class: "form-control custom-date-day", autocomplete: "off", placeholder: "Selecione o dia" %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-8">
      <%= f.label :icon, "Ícone do Cartão" %>
      <%= f.file_field :icon, class: "form-control", accept: "image/*" %>
      <% if card.icon.attached? %>
        <div class="form-text">Ícone atual anexado: <%= card.icon.filename.to_s %></div>
      <% else %>
        <div class="form-text">Você pode anexar uma imagem para exibir no dashboard.</div>
      <% end %>
    </div>

    <% if card.icon.attached? %>
      <div class="col-md-4 d-flex align-items-end">
        <div class="form-check">
          <%= check_box_tag "card[remove_icon]", "1", false, class: "form-check-input", id: "card_remove_icon" %>
          <%= label_tag "card_remove_icon", "Remover ícone atual", class: "form-check-label" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.submit t("cards.form.submit"), class: "btn btn-primary" %>
  </div>
<% end %>
