<%= form_with model: category, local: true do |f| %>
  <div class="row mb-3">
    <div class="col-md-3">
      <%= f.label :icon, "Ícone Google" %>
      <%= f.text_field :icon, class: "form-control", placeholder: "receipt_long" %>
    </div>
    <div class="col-md-9">
      <%= f.label :name, t("categories.form.name") %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <%= f.submit t("categories.form.submit"), class: "btn btn-primary" %>
<% end %>

