<div class="container-fluid">
  <h1 class="mb-4"><%= image_tag "icons/category.png", alt: "Categorias", class: "me-2", size: "40x40" %>Categorias</h1>

  <%= link_to t("buttons.new.feminine", model: t("models.category")), new_category_path, class: "btn btn-success mb-3" %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t("categories.form.name") %></th>
        <th><%= t("tables.expenses.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr id="<%= dom_id(category) %>">
          <td><%= category.display_name %></td>
          <td>
            <%= link_to t("buttons.edit"), edit_category_path(category), class: "btn btn-sm btn-primary" %>
            <%= link_to t("buttons.delete"), category,
                        data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" },
                        class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
