<tr id="<%= dom_id(expense) %>" class="<%= expense.paid? ? 'table-success' : 'table-warning' %>">
  <td><%= expense.description %></td>

  <td>
    <% if expense.payment_method_credito_parcelado? %>
      <%= "#{expense.current_installment}/#{expense.installments_count}" %>
    <% else %>
      Única
    <% end %>
  </td>

  <td><%= number_to_currency(expense.amount, unit: "R$ ", separator: ",", delimiter: ".") %></td>

  <td class="text-center">
    <%= expense.date.strftime("%d/%m/%Y") %>
  </td>

  <td class="text-center">
    <%= expense.balance_month.strftime("%m/%Y") if expense.balance_month.present? %>
  </td>

  <td>
    <%= expense.category.display_name %>
  </td>

  <td>
    <%= expense.payment_method.titleize %>
  </td>

  <td>
    <%= expense.card&.name %>
  </td>

  <td class="text-center">
    <%= link_to (expense.paid? ? "Sim" : "Não"),
            toggle_paid_expense_path(expense, month: params[:month]),
            method: :patch,
            data: { turbo_method: :patch, turbo_stream: true },
            class: "btn btn-sm btn-secondary" %>
  </td>

  <td class="text-center">
    <%= link_to t("buttons.edit"),
                edit_expense_path(expense),
                class: "btn btn-sm btn-primary",
                data: { turbo_frame: "modal" } %>

    <%= link_to t("buttons.delete"),
                expense_path(expense),
                data: { turbo_method: :delete, turbo_confirm: "Tem certeza?" },
                class: "btn btn-sm btn-danger" %>
  </td>
</tr>
