<h1 style="text-align: center; font-family: Arial, sans-serif;">
  📊 Relatório de Despesas
</h1>

<table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Parcela</th>
      <th>Valor</th>
      <th>Data</th>
      <th>Mês Referência</th>
      <th>Categoria</th>
      <th>Pagamento</th>
      <th>Cartão</th>
      <th>Paga?</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr style="background-color: <%= expense.paid? ? '#d4edda' : '#fff3cd' %>;">
        <td><%= expense.description %></td>
        <td>
          <% if expense.payment_method_credito_parcelado? %>
            <%= "#{expense.current_installment}/#{expense.installments_count}" %>
          <% else %>
            Única
          <% end %>
        </td>
        <td>R$ <%= number_with_precision(expense.amount, precision: 2, delimiter: ".") %></td>
        <td><%= expense.date.strftime("%d/%m/%Y") %></td>
        <td><%= expense.balance_month.strftime("%m/%Y") if expense.balance_month.present? %></td>
        <td><%= expense.category.display_name %></td>
        <td><%= expense.payment_method.titleize %></td>
        <td><%= expense.card&.name %></td>
        <td><%= expense.paid? ? "Sim" : "Não" %></td>
      </tr>
    <% end %>
  </tbody>
  <tr>
    <th colspan="6" style="text-align: right;">Total Pago</th>
    <th colspan="3">R$ <%= number_with_precision(@total_paid, precision: 2, delimiter: ".") %></th>
  </tr>
  <tr>
    <th colspan="6" style="text-align: right;">Total a Pagar</th>
    <th colspan="3">R$ <%= number_with_precision(@total_unpaid, precision: 2, delimiter: ".") %></th>
  </tr>
  <tr>
    <th colspan="6" style="text-align: right;">Saldo Líquido</th>
    <th colspan="3">R$ <%= number_with_precision(@net_balance, precision: 2, delimiter: ".") %></th>
  </tr>
</table>
