<!DOCTYPE html>
<html>
  <head>
    <title>Gerenciador Financeiro💲</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CSS do Rails -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <script>
    function formatMoeda(el) {
      let val = el.value.replace(/\D/g, "");
      if (!val) {
        el.value = "R$ 0,00";
        return;
      }

      val = (parseInt(val) / 100).toFixed(2);
      let partes = val.split(".");
      let inteiro = partes[0];
      let decimal = partes[1];
      inteiro = inteiro.replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      el.value = "R$ " + inteiro + "," + decimal;
    }

    function formatCardNumber(input) {
      let value = input.value.replace(/\D/g, "")
      value = value.slice(0, 16)
      input.value = value.replace(/(.{4})/g, "$1 ").trim()
    }

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll(".moeda").forEach(el => formatMoeda(el));
    });
  </script>

  <body>
    <div id="wrapper" class="d-flex">
    <!-- Sidebar Lateral -->
    <%= render "shared/sidebar" %>

      <!-- Page content -->
      <div id="page-content-wrapper" class="flex-fill ms-sidebar">
        <div class="container-fluid py-4">
          <% if flash.any? %>
            <% flash.each do |key, msg| %>
              <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show" role="alert">
                <%= msg %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            <% end %>
          <% end %>

          <%= yield %>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

    <style>
      #page-content-wrapper {
        flex: 1;
        transition: margin-left 0.3s ease;
        margin-left: 220px;
      }

      #wrapper.collapsed #sidebar-wrapper {
        width: 60px;
      }

      #wrapper.collapsed #page-content-wrapper {
        margin-left: 60px;
      }
    </style>
  </body>
</html>
